@import '../global/sizes.scss';

* {
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;

    @media (prefers-reduced-motion) {
        scroll-behavior: auto;
    }
}
html {
    font-size: var(--mBody);
    line-height: 200%;
}
body {
    padding: 0 0 var(--menuSize) 0;
    margin: 0;
    background: var(--bg-body);
    font-family: var(--font-body);
    color: var(--text-body);
    top: var(--menuSize);
    left: var(--menuSize);
    width: calc(100% - (var(--menuSize) * 2));
    font-size: var(--mBody);
    line-height: 200%;

    &::after {
        content: '';
        position: fixed;
        bottom: 0;
        left: var(--menuSize);
        width: calc(100% - (var(--menuSize) * 2));
        height: var(--menuSize);
        background: var(--bg-content);
        z-index: 100;
    }
}
div:empty {
    display: none;
}
a {
    text-decoration: none;
    color: var(--accent);
}
blockquote {
  background: var(--bg-alt);
  padding: 15px;
  border-left: 3px solid var(--border-main);
  margin: 0 0 15px;

  @media only screen and (min-width: $xs) {
    margin: 0 15px 15px;
  }

  @media only screen and (min-width: $sm) {
    margin: 0 30px 30px;
  }

  @media only screen and (min-width: $lg) {
    margin: 0 auto 30px;
    max-width: 650px;
  }
}
hr {
    background: none;
    border: none;
    border-bottom: 1px solid var(--border-main);
    margin: 20px auto 15px;
    grid-column: 1 / -1;
    width: 100%;
}
.profile--wrap,
.post,
.webpage,
.postcolor {
    h2,
    .h2,
    tag-xl {
        font-family: var(--font-head);
        text-align: center;
        line-height: 200%;
        padding-bottom: 15px;
        font-size: calc(var(--xlBody) + 16px);

        &::after {
            content: '';
            height: 1px;
            width: 50px;
            background: var(--text-content);
            position: absolute;
            bottom: 0;
            left: calc(50% - 25px);
        }

        & + h2,
        & + .h2,
        & + tag-xl,
        & + h3,
        & + .h3,
        & + tag-lg,
        & + h4,
        & + .h4,
        & + tag-md,
        & + h5,
        & + .h5,
        & + tag-sm,
        & + h6,
        & + .h6,
        & + tag-xs {
            margin-top: 0.5em;
        }
    }
    h3,
    .h3,
    tag-lg {
        font-family: var(--font-head);
        text-align: center;
        line-height: 200%;
        padding-bottom: 13px;
        font-size: calc(var(--xlBody) + 8px);

        &::after {
            content: '';
            height: 1px;
            width: 50px;
            background: var(--text-content);
            position: absolute;
            bottom: 0;
            left: calc(50% - 25px);
        }

        & + h2,
        & + .h2,
        & + tag-xl,
        & + h3,
        & + .h3,
        & + tag-lg,
        & + h4,
        & + .h4,
        & + tag-md,
        & + h5,
        & + .h5,
        & + tag-sm,
        & + h6,
        & + .h6,
        & + tag-xs {
            margin-top: 0.5em;
        }
    }
    h4,
    .h4,
    tag-md {
        font-family: var(--font-head);
        line-height: 200%;
        font-size: calc(var(--xlBody) + 4px);
        margin-bottom: 0;
        text-align: left;
        padding-bottom: 0;

        &::after {
            display: none;
        }

        & + h2,
        & + .h2,
        & + tag-xl,
        & + h3,
        & + .h3,
        & + tag-lg,
        & + h4,
        & + .h4,
        & + tag-md,
        & + h5,
        & + .h5,
        & + tag-sm,
        & + h6,
        & + .h6,
        & + tag-xs {
            margin-top: 0.5em;
        }
    }
    h5,
    .h5,
    tag-sm {
        font-family: var(--font-head);
        line-height: 200%;
        font-size: var(--xlBody);
        margin-bottom: 0;
        text-align: left;
        padding-bottom: 0;

        &::after {
            display: none;
        }

        & + h2,
        & + .h2,
        & + tag-xl,
        & + h3,
        & + .h3,
        & + tag-lg,
        & + h4,
        & + .h4,
        & + tag-md,
        & + h5,
        & + .h5,
        & + tag-sm,
        & + h6,
        & + .h6,
        & + tag-xs {
            margin-top: 0.5em;
        }
    }
    h6,
    .h6,
    tag-xs {
        font-family: var(--font-body);
        line-height: 160%;
        font-size: var(--xsBody);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: 0;
        text-align: left;
        padding-bottom: 0;

        &::after {
            display: none;
        }

        & + h2,
        & + .h2,
        & + tag-xl,
        & + h3,
        & + .h3,
        & + tag-lg,
        & + h4,
        & + .h4,
        & + tag-md,
        & + h5,
        & + .h5,
        & + tag-sm,
        & + h6,
        & + .h6,
        & + tag-xs {
            margin-top: 0.5em;
        }
    }
    b {
        font-family: var(--font-head);
        color: var(--accent);
        font-size: 1.15em;
    }
    i {
        color: var(--accent);
        font-weight: 500;
    }
    s {
        text-decoration-color: var(--accent);
        text-decoration-thickness: 2px;
        font-weight: 500;
    }
    u {
        background: var(--ltaccent-40);
        text-decoration: none;
        border-bottom: 1px solid var(--accent);
        padding: 2px 10px;
    }
    a {
        font-weight: 600;
        font-family: var(--font-head);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 0.9em;
    }

    ul {
        margin: 0;
        padding: 0 0 0 17px;
        line-height: 200%;

        br {
            display: none;
        }

        li {
            padding-left: 10px;
            
            &::marker {
                font-family: 'Font Awesome 6 Pro';
                font-weight: 100;
                font-style: normal;
            }
        }
    }
}
button {
    cursor: pointer;
}
select,
input,
textarea,
button {
    background: var(--bg-content);
    border: 1px solid var(--border-main);
    color: var(--text-content);
    border-radius: 1px;

    &:focus {
        outline: none;
        border-color: var(--ltaccent);
    }
}
select,
input,
button {
    text-transform: uppercase;
    font-size: var(--xsBody);
    line-height: 100%;
    letter-spacing: 0.1em;
    margin: 0 3px;
    cursor: pointer;
}
select {
    padding: 7px 8px 2px;
}
option {
    font-size: var(--mBody);
}
input,
button {
    padding: 8px;
}
input[type="text"] {
    cursor: initial;
}
button {
    font-weight: 600;
}
textarea {
    padding: 10px;
}
img {
    max-width: 100%;
    object-fit: cover;
}
.scroll {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-contrast) transparent;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: var(--bg-image);
        filter: grayscale(1);
        opacity: 0.2;
    }
}
tag-code {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-main);
    margin-bottom: 10px;

    pre {
        margin: 0;

        textarea {
            width: 100%;
            background: var(--bg-content);
            border: 1px solid var(--border-main);
            font-size: var(--sBody);
            font-family: var(--font-body);
            padding: 5px;
            letter-spacing: 0.1em;
            line-height: 200%;
            margin: 0;
            height: calc(var(--sBody) * 7);
            color: var(--text-content);
        }
    }
}
.copyQuick {
    background: var(--mdGrey);
    border: none;
    color: var(--text-body);
    font-size: var(--xsBody);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 1px;
}
.fa-solid,
.fa-regular,
.fa-light,
.fa-thin,
.fa-brand {
  font-style: normal !important;
}
.fa-solid,
.fa-regular,
.fa-light,
.fa-thin {
  font-family: "Font Awesome 6 Pro" !important;
}
.fa-brand {
  font-family: "Font Awesome 6 Brands" !important;
}
.fa-solid {
  font-weight: 700 !important;
}
.fa-regular {
  font-weight: 500 !important;
}
.fa-light {
  font-weight: 300 !important;
}
.fa-thin {
  font-weight: 100 !important;
}

.g-2 {
    .memOnly {
        display: none;
    }
}
.guestOnly {
    display: none;

    .g-2 & {
        display: initial;
    }
}
.staffOnly {
    display: none !important;

    .g-4 & {
        display: initial !important;
    }
}

.g-4 tag-label.staffOnly,
.g-4 tag-tab.staffOnly {
    display: flex !important;
}