/*******************************
    Variables
********************************/
:root {
    //Fonts
    --font-head: 'Averia Serif Libre', serif;
    --font-body: 'Montserrat', sans-serif;

    //Sizes
    --xsBody: 8px;
    --sBody: 10px;
    --mBody: 12px;
    --lBody: 14px;
    --xlBody: 16px;
    --menuSize: 32px;
    --sizeBoost: 0px;

    //Base Colors
    --black: rgba(12, 12, 12, 1);
    --black-30: rgba(12, 12, 12, 0.3);
    --offBlack: rgba(18, 18, 18, 1);
    --dkGrey: rgba(26, 26, 26, 1);
    --dmGrey: rgba(34, 34, 34, 1);
    --mdGrey: rgba(40, 40, 40, 1);
    --mlGrey: rgba(68, 68, 68, 1);
    --lmGrey: rgba(150, 150, 150, 1);
    --ltGrey: rgba(134, 134, 134, 1);
    --xltGrey: rgba(170, 170, 170, 1);
    --offWhite: rgba(215, 215, 215, 1);
    --white: rgba(235, 235, 235, 1);
    --white-10: rgba(235, 235, 235, 0.1);
    --white-45: rgba(235, 235, 235, 0.45);
    --accent: rgba(87, 188, 210, 1);
    --ltaccent: rgba(87, 188, 210, 1);
    --ltaccent-40: rgba(87, 188, 210, 0.40);
    --ltaccent-55: rgba(87, 188, 210, 0.55);

	--prideGradient: linear-gradient(
		to bottom right,
		rgba(230, 30, 40, 1),
		rgba(230, 30, 40, 1) 10%,

		rgba(247,141,31, 1) 20%,
		rgba(247,141,31, 1) 25%,

		rgba(249,239,19, 1) 35%,
		rgba(249,239,19, 1) 40%,

		rgba(13,128,63, 1) 50%,
		rgba(13,128,63, 1) 65%,

		rgba(62,95,172, 1) 75%,
		rgba(62,95,172, 1) 80%,

		rgba(115,42,132, 1) 90%,
		rgba(115,42,132, 1)
	);

    //Settings
    --bg-image: url(https://files.jcink.net/uploads/totl/TOTL23/bg_default_min.jpg);
    --opacity-colorover: 0.6;

    //Group Colors
    .g-1,
    .g-2,
    &.g-1,
    &.g-2 {
        --accent: rgba(196, 177, 125, 1);
        --ltaccent: rgba(225, 210, 166, 1);
        --ltaccent-40: rgba(225, 210, 166, 0.4);
        --ltaccent-55: rgba(225, 210, 166, 0.55);
        --opacity-colorover: 0.35;
    }
    .g-3,
    &.g-3 {
        --accent: rgba(189, 133, 92, 1);
        --ltaccent: rgba(215, 159, 118, 1);
        --ltaccent-40: rgba(215, 159, 118, 0.4);
        --ltaccent-55: rgba(215, 159, 118, 0.55);
        --opacity-colorover: 0.35;
    }
    .g-4,
    &.g-4 {
        --accent: rgba(110, 130, 155, 1);
        --ltaccent: rgba(142, 161, 185, 1);
        --ltaccent-40: rgba(142, 161, 185, 0.4);
        --ltaccent-55: rgba(142, 161, 185, 0.55);
    }
    .g-5,
    .g-10,
    .g-19,
    &.g-5,
    &.g-10,
    &.g-19 {
        --accent: rgba(196, 196, 196, 1);
        --ltaccent: rgba(155, 155, 155, 1);
        --ltaccent-40: rgba(155, 155, 155, 0.4);
        --ltaccent-55: rgba(155, 155, 155, 0.55);
    }
    adults,
    .adults,
    .g-6,
    &.g-6 {
        --accent: rgba(179, 73, 85, 1);
        --ltaccent: rgba(200, 107, 118, 1);
        --ltaccent-40: rgba(200, 107, 118, 0.4);
        --ltaccent-55: rgba(200, 107, 118, 0.55);
        --bg-image: url(https://files.jcink.net/uploads/totl/TOTL23/bg_adults_min.jpg);
        --opacity-colorover: 0.35;
    }
    gryffindor,
    .gryffindor,
    .g-7,
    &.g-7 {
        --accent: rgba(147, 42, 47, 1);
        --ltaccent: rgba(176, 58, 63, 1);
        --ltaccent-40: rgba(176, 58, 63, 0.4);
        --ltaccent-55: rgba(176, 58, 63, 0.55);
        --bg-image: url(https://files.jcink.net/uploads/totl/TOTL23/bg_gryffindor_min.jpg);
        --opacity-colorover: 0.3;
    }
    hogwarts,
    .hogwarts,
    .g-8,
    &.g-8 {
        --accent: rgba(97, 86, 153, 1);
        --ltaccent: rgba(123, 113, 170, 1);
        --ltaccent-40: rgba(123, 113, 170, 0.4);
        --ltaccent-55: rgba(123, 113, 170, 0.55);
        --bg-image: url(https://files.jcink.net/uploads/totl/TOTL23/bg_hogwarts_min.jpg);
    }
    hufflepuff,
    .hufflepuff,
    .g-9,
    &.g-9 {
        --accent: rgba(183, 148, 117, 1);
        --ltaccent: rgba(213, 177, 146, 1);
        --ltaccent-40: rgba(213, 177, 146, 0.4);
        --ltaccent-55: rgba(213, 177, 146, 0.55);
        --bg-image: url(https://files.jcink.net/uploads/totl/TOTL23/bg_hufflepuff_min.jpg);
        --opacity-colorover: 0.5;
    }
    press,
    .press,
    .g-11,
    &.g-11 {
        --accent: rgba(176, 134, 84, 1);
        --ltaccent: rgba(200, 160, 112, 1);
        --ltaccent-40: rgba(200, 160, 112, 0.4);
        --ltaccent-55: rgba(200, 160, 112, 0.55);
        --bg-image: url(https://files.jcink.net/uploads/totl/TOTL23/bg_press_min.jpg);
        --opacity-colorover: 0.35;
    }
    ministry,
    .ministry,
    .g-12,
    &.g-12 {
        --accent: rgba(78, 134, 126, 1);
        --ltaccent: rgba(101, 157, 149, 1);
        --ltaccent-40: rgba(101, 157, 149, 0.4);
        --ltaccent-55: rgba(101, 157, 149, 0.55);
        --bg-image: url(https://files.jcink.net/uploads/totl/TOTL23/bg_ministry_min.jpg);
        --opacity-colorover: 0.5;
    }
    quidditch,
    .quidditch,
    .g-13,
    &.g-13 {
        --accent: rgba(146, 130, 157, 1);
        --ltaccent: rgba(166, 148, 179, 1);
        --ltaccen-40: rgba(166, 148, 179, 0.4);
        --ltaccen-55: rgba(166, 148, 179, 0.55);
        --bg-image: url(https://files.jcink.net/uploads/totl/TOTL23/bg_quidditch_min.jpg);
    }
    ravenclaw,
    .ravenclaw,
    .g-14,
    &.g-14 {
        --accent: rgba(65, 91, 142, 1);
        --ltaccent: rgba(86, 113, 166, 1);
        --ltaccent-40: rgba(86, 113, 166, 0.4);
        --ltaccent-55: rgba(86, 113, 166, 0.55);
        --bg-image: url(https://files.jcink.net/uploads/totl/TOTL23/bg_ravenclaw_min.jpg);
        --opacity-colorover: 0.5;
    }
    healers,
    .healers,
    .g-15,
    &.g-15 {
        --accent: rgba(88, 123, 83, 1);
        --ltaccent: rgba(102, 142, 96, 1);
        --ltaccent-40: rgba(102, 142, 96, 0.4);
        --ltaccent-55: rgba(102, 142, 96, 0.55);
        --bg-image: url(https://files.jcink.net/uploads/totl/TOTL23/bg_healers_min.jpg);
        --opacity-colorover: 0.4;
    }
    slytherin,
    .slytherin,
    .g-16,
    &.g-16 {
        --accent: rgba(45, 91, 61, 1);
        --ltaccent: rgba(60, 113, 78, 1);
        --ltaccent-40: rgba(60, 113, 78, 0.4);
        --ltaccent-55: rgba(60, 113, 78, 0.55);
        --bg-image: url(https://files.jcink.net/uploads/totl/TOTL23/bg_slytherin_min.jpg);
        --opacity-colorover: 0.5;
    }
    returners,
    .returners,
    .g-17,
    &.g-17 {
        --accent: rgba(90, 137, 151, 1);
        --ltaccent: rgba(105, 154, 168, 1);
        --ltaccent-40: rgba(105, 154, 168, 0.4);
        --ltaccent-55: rgba(105, 154, 168, 0.55);
        --bg-image: url(https://files.jcink.net/uploads/totl/TOTL23/bg_returners_min.jpg);
    }
    entertainment,
    .entertainment,
    .g-18,
    &.g-18 {
        --accent: rgba(82, 154, 162, 1);
        --ltaccent: rgba(108, 181, 189, 1);
        --ltaccent-40: rgba(108, 181, 189, 0.4);
        --ltaccent-55: rgba(108, 181, 189, 0.55);
        --bg-image: url(https://files.jcink.net/uploads/totl/TOTL23/bg_entertainment_min.jpg);
    }
    .g-20,
    &.g-20 {
        --accent: rgba(97, 177, 202, 1);
        --ltaccent: rgba(130, 201, 223, 1);
        --ltaccent-40: rgba(130, 201, 223, 0.4);
        --ltaccent-55: rgba(130, 201, 223, 0.55);
    }
}

.smFont {
    --xsBody: 8px;
    --sBody: 10px;
    --mBody: 12px;
    --lBody: 14px;
    --xlBody: 16px;
    --sizeBoost: 0px;
}

.lgFont {
    --xsBody: 10px;
    --sBody: 12px;
    --mBody: 14px;
    --lBody: 16px;
    --xlBody: 18px;
    --sizeBoost: 2px;
}
@media (prefers-color-scheme: light) {
    :root {
        --bg-content: var(--white);
        --bg-body: var(--black);
        --bg-alt: var(--offWhite);
        --bg-contrast: var(--black);
        --bg-body-alt: var(--mdGrey);
        --bg-transparent: var(--white-10);
    
        --text-content: var(--black);
        --text-content-hover: var(--ltGrey);
        --text-body: var(--white);
    
        --border-main: var(--xltGrey);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-content: var(--offBlack);
        --bg-body: var(--black);
        --bg-alt: var(--dkGrey);
        --bg-contrast: var(--white);
        --bg-body-alt: var(--mdGrey);
        --bg-transparent: var(--black-30);
    
        --text-content: var(--xltGrey);
        --text-content-hover: var(--white);
        --text-body: var(--offWhite);
    
        --border-main: var(--mdGrey);
    }
}

.light {
    --bg-content: var(--white);
    --bg-body: var(--black);
    --bg-alt: var(--offWhite);
    --bg-contrast: var(--black);
    --bg-body-alt: var(--mdGrey);
    --bg-transparent: var(--white-10);

    --text-content: var(--black);
    --text-content-hover: var(--ltGrey);
    --text-body: var(--white);

    --border-main: var(--xltGrey);
}

.dark {
    --bg-content: var(--offBlack);
    --bg-body: var(--black);
    --bg-alt: var(--dmGrey);
    --bg-contrast: var(--white);
    --bg-body-alt: var(--mdGrey);
    --bg-transparent: var(--black-30);

    --text-content: var(--xltGrey);
    --text-content-hover: var(--white);
    --text-body: var(--offWhite);

    --border-main: var(--mlGrey);
}

/* aro */
.pride-aromantic {
    .pride--inner span::before {
        content: 'aro pride';
    }
	--prideGradient: linear-gradient(
		to bottom right,
		rgba(61,166,73, 1),
		rgba(61,166,73, 1) 15%,

		rgba(166,210,121, 1) 25%,
		rgba(166,210,121, 1) 35%,

		rgba(255,255,255, 1) 45%,
		rgba(255,255,255, 1) 55%,

		rgba(170,170,170, 1) 65%,
		rgba(170,170,170, 1) 75%,

		rgba(4,8,7, 1) 85%,
		rgba(4,8,7, 1)
	);
}

/* ace */
.pride-asexual {
    .pride--inner span::before {
        content: 'ace pride';
    }
	--prideGradient: linear-gradient(
		to bottom right,
		rgba(101,34,103, 1),
		rgba(101,34,103, 1) 20%,

		rgba(255,255,255, 1) 30%,
		rgba(255,255,255, 1) 45%,

		rgba(125,129,128, 1) 55%,
		rgba(125,129,128, 1) 70%,

		rgba(5,9,8, 1) 80%,
		rgba(5,9,8, 1)
	);
}

/* bi */
.pride-bisexual {
    .pride--inner span::before {
        content: 'bi pride';
    }
	--prideGradient: linear-gradient(
		to bottom right,
		rgba(214,24,114, 1),
		rgba(214,24,114, 1) 35%,

		rgba(156,79,151, 1)45%,
		rgba(156,79,151, 1) 55%,

		rgba(29,66,154, 1) 65%,
		rgba(29,66,154, 1)
	);
}

/* demi */
.pride-demisexual {
    .pride--inner span::before {
        content: 'demi pride';
    }
	--prideGradient: linear-gradient(
		to bottom right,
		rgba(255,255,255, 1),
		rgba(255,255,255, 1) 28%,

		rgba(118,7,137, 1) 38%,
		rgba(118,7,137, 1) 61%,

		rgba(178,178,178, 1) 71%,
		rgba(178,178,178, 1)
	);
}

/* mlm */
.pride-gay {
    .pride--inner span::before {
        content: 'mlm pride';
    }
	--prideGradient: linear-gradient(
		to bottom right,
		rgba(2,144,112, 1),
		rgba(2,144,112, 1) 11%,

		rgba(1,201,188, 1) 17%,
		rgba(1,201,188, 1) 25%,

		rgba(135,238,238, 1) 31%,
		rgba(135,238,238, 1) 39%,

		rgba(255,255,255, 1) 45%,
		rgba(255,255,255, 1) 55%,

		rgba(125,202,249, 1) 61%,
		rgba(125,202,249, 1) 69%,

		rgba(3,156,241, 1) 75%,
		rgba(3,156,241, 1) 83%,

		rgba(1,42,138, 1) 89%,
		rgba(1,42,138, 1)
	);
}

/* genderfluid */
.pride-genderfluid {
    .pride--inner span::before {
        content: 'fluid pride';
    }
	--prideGradient: linear-gradient(
		to bottom right,
		rgba(242,114,162, 1),
		rgba(242,114,162, 1) 15%,

		rgba(255,255,255, 1) 25%,
		rgba(255,255,255, 1) 35%,

		rgba(157,72,157, 1) 45%,
		rgba(157,72,157, 1) 55%,

		rgba(4,8,7, 1) 65%,
		rgba(4,8,7, 1) 75%,

		rgba(65,77,161, 1) 85%,
		rgba(65,77,161, 1)
	);
}

/* genderqueer */
.pride-genderqueer {
    .pride--inner span::before {
        content: 'gq pride';
    }
	--prideGradient: linear-gradient(
		to bottom right,
		rgba(167,128,183, 1),
		rgba(167,128,183, 1) 28%,

		rgba(255,255,255, 1) 38%,
		rgba(255,255,255, 1) 61%,

		rgba(74,131,60, 1) 71%,
		rgba(74,131,60, 1)
	);
}

/* intersex */
.pride-intersex {
    .pride--inner span::before {
        content: 'intersex pride';
    }
	--prideGradient: linear-gradient(
		to bottom right,
		rgba(252,216,0, 1),
		rgba(252,216,0, 1) 50%,

		rgba(115,54,149, 1) 70%,
		rgba(115,54,149, 1) 70%,

		rgba(252,216,0, 1) 90%,
		rgba(252,216,0, 1)
	);
}

/* wlw */
.pride-lesbian {
    .pride--inner span::before {
        content: 'wlw pride';
    }
	--prideGradient: linear-gradient(
		to bottom right,
		rgba(163,33,103, 1),
		rgba(163,33,103, 1) 11%,

		rgba(184,85,149, 1) 17%,
		rgba(184,85,149, 1) 25%,

		rgba(209,101,163, 1) 31%,
		rgba(209,101,163, 1) 39%,

		rgba(239,239,239, 1) 45%,
		rgba(239,239,239, 1) 55%,

		rgba(229,172,205, 1) 61%,
		rgba(229,172,205, 1) 69%,

		rgba(199,78,83, 1) 75%,
		rgba(199,78,83, 1) 83%,

		rgba(141,33,31, 1) 89%,
		rgba(141,33,31, 1)
	);
}

/* nb */
.pride-nonbinary {
    .pride--inner span::before {
        content: 'nb pride';
    }
	--prideGradient: linear-gradient(
		to bottom right,
		rgba(245,237,68, 1),
		rgba(245,237,68, 1) 20%,

		rgba(255,255,255, 1) 30%,
		rgba(255,255,255, 1) 45%,

		rgba(137,96,166, 1) 55%,
		rgba(137,96,166, 1) 70%,

		rgba(44,44,44, 1) 80%,
		rgba(44,44,44, 1)
	);
}

/* pan */
.pride-pansexual {
    .pride--inner span::before {
        content: 'pan pride';
    }
	--prideGradient: linear-gradient(
		to bottom right,
		rgba(235,29,140, 1),
		rgba(235,29,140, 1) 28%,

		rgba(246,218,10, 1) 38%,
		rgba(246,218,10, 1) 61%,

		rgba(68,170,219, 1) 71%,
		rgba(68,170,219, 1)
	);
}

/* trans */
.pride-transgender {
    .pride--inner span::before {
        content: 'trans pride';
    }
	--prideGradient: linear-gradient(
		to bottom right,
		rgba(95,204,245, 1),
		rgba(95,204,245, 1) 15%,

		rgba(246,169,185, 1) 25%,
		rgba(246,169,185, 1) 35%,

		rgba(255,255,255, 1) 45%,
		rgba(255,255,255, 1) 55%,

		rgba(246,169,185, 1) 65%,
		rgba(246,169,185, 1) 75%,

		rgba(95,204,245, 1) 85%,
		rgba(95,204,245, 1)
	);
}
