@import '../global/sizes.scss';

#delcookiesrow,
#mark-as-read-subto,
#delcookiesrow ~ .tableborder .row4,
main > div[align="center"] ~ .tableborder .row4,
main > .tableborder > .row4 {
    text-transform: uppercase;
    color: var(--white);
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: var(--xsBody) !important;
    text-align: center;
    line-height: 200% !important;

    a {
        color: var(--white);
    }
}
#delcookiesrow ~ .tableborder,
main > div[align="center"] ~ .tableborder,
main > .tableborder > .row4 {
    margin-bottom: 30px;
}
.wrapmini,
.pagination_pagetxt,
#submenu,
#userlinks,
#logostrip {
    display: none;
}
fieldset {
    background: var(--bg-content);
    padding: 10px 20px;
    margin: 10px;
    border: 0;
    color: var(--text-content);
    font-size: var(--xsBody);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    legend {
        font-size: var(--xsBody);
        text-transform: uppercase;
        letter-spacing: 0.01em;
        color: var(--text-body);
        font-weight: 600;
        top: -12px;
        line-height: 0;

        strong {
            font-weight: 600;
            font-family: var(--font-body);
            letter-spacing: 0.1em;
        }
    }

    select {
        padding: 7px 8px;
    }
}
body:not(#ST) {
    .tableborder {
        & > .maintitle {
            text-align: center;
            grid-column: 1 / -1 !important;
            font-family: var(--font-head);
            font-size: 30px;
            margin: 50px 0;
            padding-bottom: 25px;
    
            &::after {
                content: '';
                height: 1px;
                width: 50px;
                background: var(--text-body);
                position: absolute;
                bottom: 0;
                left: calc(50% - 25px);
            }

            a {
                color: var(--text-body);
            }

            img {
                display: none;
            }
        }
        & > .titlemedium {
            background: var(--bg-alt);
            padding: 10px;
            text-transform: uppercase;
            font-size: var(--xsBody);
            text-align: center;
            color: var(--text-content);
            letter-spacing: 0.1em;
            font-weight: 600;
        }
    }
}
.pagelinks {
    background: var(--bg-alt);
    border-bottom: 1px solid var(--border-main);
    padding: 10px;

    &:empty {
        display: none;
    }

    .pagination {
        display: flex;
        align-items: center;
        color: var(--text-content);
        font-size: var(--xsBody);
        gap: 5px;
    
        &::before {
            content: 'Pages: ';
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.1em;
            margin-left: 15px;
        }
    
        .pagination_current {
            font-weight: 600;
        }
    
        a {
            color: var(--text-content);
        }
    }
}
.content {
    background: var(--bg-content);
    color: var(--text-content);
    margin: 15px 15px 45px 15px;
    padding: 15px;

    @media only screen and (min-width: $sm) {
        margin: 30px 30px 90px 30px;
        padding: 30px;
    }

    @media only screen and (min-width: $xxl) {
        margin: 45px auto 90px;
        max-width: 1300px;
    }

    p {
        & + br {
            display: none;
        }
    }
}
.pformstrip {
    font-family: var(--font-head);
    font-size: var(--lBody);
    line-height: 200%;
    font-weight: 600;
}
#board-message {
    .tablefill {
        background: var(--bg-content);
        color: var(--text-content);
        margin: 15px;
        padding: 15px;
    
        @media only screen and (min-width: $sm) {
            margin: 30px;
            padding: 30px;
        }
    
        @media only screen and (min-width: $xxl) {
            margin: 45px auto;
            max-width: 1300px;
        }

        & + .tableborder {
            background: var(--bg-alt);
            color: var(--text-content);
            padding: 20px;
            margin-bottom: 15px;
    
            @media only screen and (min-width: $sm) {
                margin-bottom: 30px;
            }
        
            @media only screen and (min-width: $xxl) {
                margin-bottom: 90px;
            }

            .pformstrip {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                line-height: var(--xsBody);

                a {
                    font-family: var(--font-body);
                    font-size: var(--xsBody);
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    color: var(--text-content);
                    line-height: var(--xsBody);
                }
            }
        }
    }
}
#redirect-screen {
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    padding: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: var(--bg-image);
        filter: grayscale(1);
        opacity: 0.2;
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(https://files.jcink.net/uploads2/legends/lux/noisy_texture_300x300_o14_000000000000002_d10_c_212121_t1.png);
        background-color: transparent;
        z-index: 2;
    }
    .tablefill {
        max-width: 325px;
        background: var(--bg-content);
        color: var(--text-content);
        padding: 15px;
        font-size: var(--xsBody);
        text-transform: uppercase;
        line-height: 200%;
        letter-spacing: 0.1em;
        z-index: 3;
    }
}

/**********************************
    Topic/Post Searchs
***********************************/
#Search {
    main {
        & > br:nth-child(2) {
            display: none;
        }
    }
}
#Search.code-show main > #search-topics,
#Search.code-getactive {
    .tablebasic {
        display: block;
        margin: 15px 15px 45px 15px;
    
        @media only screen and (min-width: $sm) {
            margin: 30px 30px 90px 30px;
        }
    
        @media only screen and (min-width: $xxl) {
            margin: 45px auto 90px;
            max-width: 1300px;
        }

        & > tbody {
            display: grid;
            grid-template-columns: 1fr;
            gap: 15px;
        
            @media only screen and (min-width: $sm) {
                gap: 30px;
            }

            @media only screen and (min-width: $md) {
                grid-template-columns: repeat(2, 1fr);
            }
        
            @media only screen and (min-width: $lg) {
                grid-template-columns: repeat(3, 1fr);
            }
        
            @media only screen and (min-width: $xl) {
                grid-template-columns: repeat(4, 1fr);
            }

            & > tr {
                background: var(--bg-content);
                color: var(--text-content);
                display: flex;
                flex-wrap: wrap;
                padding: 15px;
                gap: 0 15px;

                &:first-child {
                    display: none;
                }

                & > td {
                    flex: 0 0 100%;
                    font-size: var(--xsBody);
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    width: 100%;
                    text-align: left;
                    line-height: 200%;

                    a {
                        color: var(--text-content);
                    }
                    
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(7) {
                        display: none;
                    }
                    &:nth-child(3) {
                        font-weight: 600;

                        table {
                            font-size: var(--xlBody);
                            font-family: var(--font-head);
                            text-transform: capitalize;
                            letter-spacing: 0;
                        }
                    }
                    &:nth-child(4) {
                        &::before {
                            content: 'Posted in ';
                        }
                    }
                    &:nth-child(5) {
                        &::before {
                            content: 'Started by ';
                        }

                        a {
                            color: var(--accent);
                        }
                    }
                    &:nth-child(6) {
                        &::after {
                            content: ' Replies';
                        }
                    }
                    &:nth-child(8) {
                        display: flex;
                        flex-direction: column;
                        font-style: italic;

                        & > a {
                            order: -1;
                            font-style: normal;
                        }

                        & > b {
                            order: -1;
                            font-style: normal;
                            
                            a {
                                color: var(--accent);
                            }
                        }
                    }
                }
            }
        }
    }
}
#Search.code-getactive {
    main {
        & > form {
            & > div {
                &:not(.pagelinks) {
                    width: 100% !important;

                    fieldset {
                        margin: 0;
                        background: var(--bg-alt);

                        legend {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
#Search.code-show {
    main {
        & > div:not(.wrapmini):not(.tableborder):not(#search-topics) {
            position: sticky;
            top: var(--menuSize);
            background: var(--bg-alt);
            padding: 10px;
            z-index: 1;

            .pagination {
                display: flex;
                align-items: center;
                color: var(--text-content);
                font-size: var(--xsBody);
                gap: 5px;
            
                &::before {
                    content: 'Pages: ';
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 0.1em;
                    margin-left: 15px;
                }
            
                .pagination_current {
                    font-weight: 600;
                }
            
                a {
                    color: var(--text-content);
                }
            }
        }
        & > .tableborder:not(:last-of-type) {
            margin: 15px 15px 45px 15px;
        
            @media only screen and (min-width: $sm) {
                margin: 30px 30px 90px 30px;
            }
        
            @media only screen and (min-width: $xxl) {
                margin: 45px auto 90px;
                max-width: 1300px;
            }

            & > table {
                display: block;
                background: var(--bg-content);
                color: var(--text-content);
                margin-top: 15px;
        
                @media only screen and (min-width: $sm) {
                    margin-top: 30px;
                }

                tbody {
                    display: flex;
                    flex-direction: column;

                    tr {
                        &:nth-child(1),
                        &:nth-child(3) {
                            background: var(--bg-alt);
                            padding: 5px 0;
                            font-size: var(--xsBody);
                            letter-spacing: 0.1em;
                            text-transform: uppercase;
                            font-weight: 600;

                            a {
                                color: var(--text-content);
                            }

                            strong {
                                font-weight: 600;
                            }
                        }

                        &:nth-child(1) {
                            display: flex;
                            flex-direction: column;
                            padding: 15px;
        
                            @media only screen and (min-width: $sm) {
                                padding: 30px;
                            }

                            td {
                                padding: 0;
                                width: 100%;

                                &:nth-child(1) {
                                    text-transform: capitalize;
                                    font-size: 24px;
                                    font-family: var(--font-head);
                                }
                            }
                        }

                        &:nth-child(2) {
                            display: block;
                            padding: 15px;
                    
                            @media only screen and (min-width: $sm) {
                                padding: 30px;
                            }

                            td {
                                display: block;
                                width: 100%;
                                padding: 0;
                                text-align: justify;
                                font-size: var(--lBody);
                                line-height: 200%;

                                &:first-child {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/**********************************
    Login/Register
***********************************/
#Login {
    .content {
        .tableborder > .maintitle {
            text-align: left;
            margin: 0;

            &::after {
                display: none;
            }
        }
        form {
            .tablebasic {
                margin-bottom: 30px;

                &:first-of-type {
                    width: 100%;

                    tbody {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;

                        .pformleftw {
                            display: none;
                        }
                        tr {
                            width: 100%;
                            max-width: 200px;
                        }
                        td,
                        input {
                            width: 100%;
                            display: block;
                        }
                    }

                    & + .pformstrip {
                        display: none;
                    }
                }

                &:last-of-type {
                    display: none;
                }
            }
        }
    }
}
#Reg {
    main {
        & > .tableborder:first-child,
        & > form > .tableborder {
            background: var(--bg-content);
            color: var(--text-content);
            margin: 15px 15px 45px 15px;
            padding: 15px;
            font-size: var(--mBody);
        
            @media only screen and (min-width: $sm) {
                margin: 30px 30px 90px 30px;
                padding: 30px;
            }
        
            @media only screen and (min-width: $xxl) {
                margin: 45px auto 90px;
                max-width: 1300px;
            }

            .tablepad b + br {
                & + br,
                & + br + br {
                    display: none;
                }
            }
        }
        & > form {
            font-size: 0;

            .maintitle + .pformstrip {
                display: none;
            }

            .tablepad {
                & > table {
                    display: block;

                    & > tbody {
                        display: block;

                        & > tr {
                            &:first-child {
                                display: flex;
                                flex-direction: column;

                                td {
                                    width: 100%;

                                    & > div > b {
                                        display: none;
                                    }

                                    fieldset {
                                        margin: 10px 0 20px;
                                        padding: 10px 0;

                                        &:last-of-type {
                                            margin-bottom: 0;
                                        }

                                        legend {
                                            top: 0;
                                            color: var(--text-content);
                                            text-transform: capitalize;
                                            font-family: var(--font-head);
                                            font-size: var(--xlBody);
                                            letter-spacing: 0;

                                            b {
                                                font-weight: 600;
                                                letter-spacing: 0.1em;
                                            }
                                        }

                                        & + br,
                                        & > br {
                                            display: none;
                                        }

                                        input,
                                        select,
                                        textarea {
                                            font-size: var(--lBody);
                                            padding: 10px 20px;
                                            text-transform: none;
                                            width: 100%;
                                        }

                                        & > table {
                                            display: block;

                                            & > tbody {
                                                display: block;

                                                & > tr {
                                                    display: flex;
                                                    flex-wrap: wrap;
                                                    gap: 15px;

                                                    & > td {
                                                        width: 100%;
                                                        flex: 0 0 calc(50% - 7.5px);

                                                        &:only-child {
                                                            flex: 0 0 100%;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    table,
                                    tbody,
                                    tr,
                                    td {
                                        display: block;
                                    }
                                }
                            }
                            &:last-child {
                                display: block;

                                & > td {
                                    &:first-child {
                                        display: none;
                                    }

                                    &:last-child {
                                        display: block;

                                        fieldset {
                                            display: none;
                                        }
                                        .desc {
                                            font-size: 0;
                                            max-width: max-content;
                                            margin: 15px auto 0;

                                            & + br {
                                                display: none;
                                            }

                                            .input-wrap {
                                                font-size: var(--mBody);
                                                display: block;
                                                text-align: left;

                                                .fancy-input {
                                                    margin-right: 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/**********************************
    Posts/Replies
***********************************/
#Post {
    main {
        & > form ~ br {
            display: none;
        }
    }
    #posting-form {
        display: block;
        width: calc(100% - 30px);
        margin: 15px 15px 45px 15px;
    
        @media only screen and (min-width: $sm) {
            width: calc(100% - 60px);
            margin: 30px 30px 90px 30px;
        }
    
        @media only screen and (min-width: $xxl) {
            margin: 45px auto 90px;
            max-width: 1300px;
            width: 100%;
        }

        .maintitle {
            display: block;
            text-align: center;
            grid-column: 1 / -1 !important;
            font-family: var(--font-head);
            font-size: 30px;
            margin: 50px auto;
            padding-bottom: 25px;
    
            &::after {
                content: '';
                height: 1px;
                width: 50px;
                background: var(--text-body);
                position: absolute;
                bottom: 0;
                left: calc(50% - 25px);
            }
        }

        input,
        textarea,
        select {
            background: var(--bg-alt);
        }

        & > tbody {
            display: block;
            width: 100%;

            & > tr {
                &:first-child {
                    display: block;
                    margin-bottom: 30px;
                    width: 100%;
                }
                &:not(:first-child) {
                    background: var(--bg-content);
                    color: var(--text-content);
                }
                &#topic-settings-header,
                &#code-buttons-header,
                &#enter-your-post-header,
                &#post-icon-options,
                &#post-as-header,
                &#post-as + tr:not(:last-child),
                &#post-as .pformleft,
                &#post-options .pformleft,
                &#enter-your-post .pformleft,
                &#code-buttons .pformleft,
                &#topic-title .pformleft,
                &#topic-desc .pformleft,
                &#post-as + tr + tr:not(:last-child) .pformleft {
                    display: none;
                }

                &#topic-title,
                &#topic-desc {
                    display: block;
                    padding: 15px 15px 0;

                    .pformright {
                        display: block;
                        
                        input {
                            width: 100%;
                            box-sizing: border-box;
                            margin: 0;
                            text-transform: none;
                        }
                    }
                }

                &#topic-title {
                    .pformright {
                        input {
                            font-family: var(--font-head);
                            font-size: 24px;
                            padding: 15px;
                        }
                    }
                }

                &#topic-desc {
                    .pformright {
                        input {
                            font-size: var(--lBody);
                            padding: 10px 15px;
                        }
                    }
                }

                &#code-buttons {
                    display: block;
                    padding: 15px;

                    .pformright {
                        font-size: 0;
                        line-height: 0;

                        & > input,
                        & > br {
                            display: none;
                        }

                        #bbcode-buttons {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 5px;

                            input,
                            select {
                                margin: 0;
                                background: var(--ltaccent-40);
                            }

                            & > a,
                            & > br {
                                display: none;
                            }
                        }
                    }
                }

                &#enter-your-post {
                    display: block;
                    padding: 0 15px 15px;

                    & > td {
                        display: block;

                        textarea {
                            width: 100%;
                            height: 400px;
                            box-sizing: border-box;
                        }
                    }
                }

                &#post-options {
                    display: block;
                    padding: 0 15px 15px;

                    .pformright {
                        display: flex;
                        justify-content: center;
                        gap: 15px;
                        flex-wrap: wrap;

                        & > br {
                            display: none;
                        }

                        .input-wrap {
                            gap: 5px;

                            .fancy-input {
                                margin-right: 5px;
                            }

                            & + br + .input-wrap:not(:last-child) {
                                display: none;
                            }
                        }
                    }
                }

                &#post-as + tr + tr:not(:last-child),
                &#post-as {
                    display: block;
                    padding: 0 15px 15px;

                    td {
                        display: block;
                        text-align: center;

                        select {
                            width: 100%;
                            max-width: 250px;
                        }
                    }
                }

                &:last-child {
                    display: block;
                    padding: 0 15px 15px;

                    .pformstrip:only-child {
                        display: flex;
                        justify-content: center;

                        input {
                            background: var(--ltaccent-40);
                        }
                    }
                }
            }
        }
    }
    #topic-summary {
        & > .tableborder {
            margin: 15px 15px 45px 15px;
        
            @media only screen and (min-width: $sm) {
                margin: 30px 30px 90px 30px;
            }
        
            @media only screen and (min-width: $xxl) {
                margin: 45px auto 90px;
                max-width: 1300px;
            }

            .pformstrip {
                a {
                    color: var(--text-body);
                }
            }

            & > table {
                display: block;
                margin-top: 15px;
        
                @media only screen and (min-width: $sm) {
                    margin-top: 30px;
                }

                tbody {
                    display: flex;
                    flex-direction: column;

                    tr {
                        background: var(--bg-content);
                        color: var(--text-content);

                        &:nth-child(2n + 1) {
                            display: flex;
                            flex-direction: column;
                            padding: 15px;
                            background: var(--bg-alt);
                            font-size: var(--xsBody);
                            letter-spacing: 0.1em;
                            text-transform: uppercase;
                            font-weight: 600;
        
                            @media only screen and (min-width: $sm) {
                                padding: 30px;
                            }

                            a {
                                color: var(--text-content);
                            }

                            strong {
                                font-weight: 600;
                            }

                            td {
                                padding: 0;
                                width: 100%;

                                &:nth-child(1) {
                                    text-transform: capitalize;
                                    font-size: 24px;
                                    font-family: var(--font-head);
                                }
                            }
                        }

                        &:nth-child(2n) {
                            display: block;
                            padding: 15px;
                            margin-bottom: 15px;
                    
                            @media only screen and (min-width: $sm) {
                                padding: 30px;
                                margin-bottom: 30px;
                            }

                            td {
                                display: block;
                                width: 100%;
                                padding: 0;
                                text-align: justify;
                                font-size: var(--lBody);
                                line-height: 200%;

                                &:first-child {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/**********************************
    Online List
***********************************/
#Online {
    main {
        & > .tableborder:nth-of-type(2) {
            margin: 15px 15px 45px 15px;

            @media only screen and (min-width: $sm) {
                margin: 30px 30px 90px 30px;
            }

            @media only screen and (min-width: $xxl) {
                margin: 45px auto 90px;
                max-width: 1300px;
            }

            .maintitle {
                & + table {
                    display: block;
                    width: 100%;

                    & > tbody {
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 15px;
                    
                        @media only screen and (min-width: $sm) {
                            gap: 30px;
                        }
            
                        @media only screen and (min-width: $md) {
                            grid-template-columns: repeat(2, 1fr);
                        }
                    
                        @media only screen and (min-width: $lg) {
                            grid-template-columns: repeat(3, 1fr);
                        }
                    
                        @media only screen and (min-width: $xl) {
                            grid-template-columns: repeat(4, 1fr);
                        }

                        & > tr {
                            background: var(--bg-content);
                            color: var(--text-content);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 15px;

                            &:first-child {
                                display: none;
                            }

                            &:last-child {
                                grid-column: 1 / -1;
                            }

                            & > td {
                                display: block;
                                width: 100%;
                                padding: 0;
                                font-size: var(--xsBody);
                                text-transform: uppercase;
                                letter-spacing: 0.1em;
                                text-align: center;
                                
                                a {
                                    font-weight: 600;
                                    color: var(--text-content);
                                }
                                
                                &:first-child {
                                    text-align: center;

                                    span.g-2,
                                    a {
                                        &:first-child {
                                            display: block;
                                            font-family: var(--font-head);
                                            font-size: 24px;
                                            text-transform: capitalize;
                                            color: var(--accent);
                                        }
                                    }
                                }
                                &:last-child:not(:only-child) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}