@import '../global/sizes.scss';

.stats {
    gap: 15px;
        
    @media only screen and (min-width: $md) {
        gap: 30px;
    }

    &--links {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        gap: 30px;
        font-size: var(--xsBody);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 600;
        flex-wrap: wrap;

        a {
            color: var(--text-body);
        }
    }

    &--current,
    &--today {
        background: var(--bg-content);
        color: var(--text-content);
        padding: 8px;

        @media only screen and (min-width: $sm) {
            padding: 15px;
        }
    }
    &--current {
        grid-column: 1 / -1;
        font-family: var(--font-head);
        font-size: var(--xlBody);
        text-transform: capitalize;
        line-height: 200%;

        .scroll {
            height: 150px;

            @media only screen and (min-width: $lg) {
                height: calc(247px + (10 * var(--sizeBoost)));
            }
        }

        @media only screen and (min-width: $lg) {
            grid-column: span 1;
        }
    
        @media only screen and (min-width: $xl) {
            grid-column: span 2;
        }
    }
    &--today,
    &--info {
        grid-column: span 1;
    }
    &--today {
        font-size: var(--xsBody);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.1em;
        line-height: 200%;
        text-align: justify;

        .scroll {
            height: 70px;

            @media only screen and (min-width: $md) {
                height: calc(247px + (10 * var(--sizeBoost)));
            }
        }
    }
    &--info {
        display: grid;
        gap: 15px;

        @media only screen and (min-width: $xs) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (min-width: $md) {
            display: flex;
            flex-direction: column;
        }
    }
    &--stat {
        background: var(--bg-content);
        color: var(--text-content);
        padding: 7px;
        text-transform: uppercase;
        font-size: var(--xsBody);
        letter-spacing: 0.1em;
        text-align: center;
        font-weight: 600;
        line-height: 200%;

        .stats--border {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
        }

        b {
            color: var(--accent);
        }

        a {
            display: block;
            color: var(--text-content);
        }
    }
    &--recent {
        gap: 15px;

        h2 {
            margin-bottom: 10px;
        }

        tr {
            background: var(--bg-content);
            color: var(--text-content);
            display: flex;
            flex-direction: column;
            padding: 8px;
    
            @media only screen and (min-width: $sm) {
                padding: 15px;
            }

            & > td {
                border: 1px solid var(--border-main);
                width: 100%;
                padding: 15px;
                
                &:first-child {
                    border-bottom: 0;
                    padding-bottom: 0;
                    font-size: 0;

                    a {
                        &:first-child {
                            text-transform: capitalize;
                            font-family: var(--font-head);
                            display: block;
                            font-size: var(--xlBody);
                            letter-spacing: 0;
                            color: var(--text-content);
                        }
                        &:nth-child(2) {
                            font-size: var(--xsBody);
                            text-transform: uppercase;
                            font-weight: 600;
                            letter-spacing: 0.1em;
                            line-height: 100%;

                            &::before {
                                content: 'Written by ';
                                color: var(--text-content);
                                font-weight: 400;
                            }
                        }
                        &:last-child {
                            display: none;
                        }
                    }
                }

                &:last-child {
                    border-top: 0;
                    padding-top: 0;
                    text-transform: uppercase;
                    font-size: var(--xsBody);
                    line-height: 100%;
                }
            }
        }
    }
    &--border {
        border: 1px solid var(--border-main);
        padding: 15px;
        height: 100%;
    }
}