@import '../global/sizes.scss';

#SF {
    main {
        & > table {
            background: var(--bg-alt);
            padding: 10px 15px;
            color: var(--text-content);
            font-size: var(--xsBody);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-weight: 600;

            a {
                color: var(--text-content);
            }

            &:first-of-type {
                position: sticky;
                top: var(--menuSize);
                z-index: 1;

                & ~ br {
                    display: none;
                }

                & ~ div[align="right"] {
                    font-size: 0;
                    padding: 15px 15px 29px;

                    @media only screen and (min-width: $sm) {
                        padding: 30px 30px 29px;
                    }

                    & > input,
                    & > select {
                        margin-bottom: 6px;
                    }

                    & > br + br {
                        display: none;
                    }
                }
            }

            tbody {
                tr {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 5px 30px;

                    td {
                        width: auto;

                        &:last-child a {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }

        .category {
            margin-bottom: 15px;

            @media only screen and (min-width: $sm) {
                margin-bottom: 30px;
            }

            @media only screen and (min-width: $xxl) {
                margin-bottom: 45px;
            }
        }
    }
}

.topic {
    background: var(--bg-content);
    padding: 8px;
    color: var(--text-content);
    text-transform: uppercase;
    font-size: var(--xsBody);
    letter-spacing: 0.1em;
    line-height: 200%;
    border-radius: 1px;

    @media only screen and (min-width: $sm) {
        padding: 15px;
    }

    &--border {
        border: 1px solid var(--border-main);
        padding: 15px;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 1px;

        @media only screen and (min-width: $sm) {
            flex-direction: row;
        }

        h3 {
            margin: 0;

            a {
                text-transform: capitalize;
                font-family: var(--font-head);
                font-size: 20px;
                font-weight: 600;
                color: var(--text-content);
                line-height: 140%;
                margin-bottom: 5px;
            }
        }

        p {
            margin: 0;
        }

        .new & {
            border-color: var(--ltaccent);
            border-width: 2px;
        }
    }

    &--left {
        border-bottom: 1px solid var(--border-main);
        padding-bottom: 10px;
        margin-bottom: 10px;

        @media only screen and (min-width: $sm) {
            flex: 0 0 calc(60% - 11px);
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            border-right: 1px solid var(--border-main);
            padding-right: 10px;
            margin-right: 10px;
        }

        p {
            &:empty {
                display: none;
            }
        }

        .small {
            display: block;
            font-size: 0;
            margin: 10px 0 0 -6px;

            a {
                font-size: var(--xsBody);
                border: 1px solid var(--border-main);
                padding: 2px 8px;
                letter-spacing: 0.1em;
                font-weight: 600;
                color: var(--text-content);
                transition-duration: 0.3s;
                display: inline-block;
                margin-right: 5px;

                &:hover {
                    background: var(--ltaccent-40);
                }
            }
        }
    }
    &--right {
        flex: 0 0 40%;
        display: grid;

        @media only screen and (min-width: $sm) {
            grid-template-rows: 1fr calc(50% - 10.5px);
            flex: 0 0 40%;
        }
    }

    &--info {
        display: flex;
        gap: 10px;

        a {
            color: var(--text-content);
        }
    }

    &--latest,
    &--starter {
        display: flex;
        flex-direction: column;

        a {
            font-weight: 600;
        }

        & > a {
            color: var(--text-content);
            font-size: var(--sBody);
            letter-spacing: 0.05em;
        }
    }

    &--latest {
        border-bottom: 1px solid var(--border-main);
        padding-bottom: 10px;
        margin-bottom: 10px;
        justify-content: end;
    }

    &--list-info {
        color: var(--text-content);
        font-size: var(--xsBody);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: var(--bg-alt);
        padding: 10px 15px 5px;
        border-bottom: 1px solid var(--border-main);

        & + br {
            display: none;
        }

        select {
            margin-bottom: 5px;
        }
    }
}