@import '../global/sizes.scss';

#Pages {
    main {
        header {
            height: calc(100vh - (var(--menuSize) * 2));
        }

        & > br {
            display: none;
        }
    }
}


.webpage {
    & ~ div {
        display: none;
    }

    &--wrap {
        display: flex;
        flex-direction: column;
        height: calc(100vh - (var(--menuSize) * 2));
    }

    &--labels {
        background: var(--bg-alt);
        display: flex;
        height: 44px;

        button {
            border: none;
            background: var(--bg-alt);
            flex: 0 0 45px;
            width: 45px;
            padding: 0;
            margin: 0;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: var(--text-content);

            &.scroll--left {
                border-right: 1px solid var(--border-main);
            }

            &.scroll--right {
                border-left: 1px solid var(--border-main);
            }

            &:hover {
                color: var(--text-content-hover);
            }
        }

        tag-labels {
            flex: 0 0 calc(100% - 90px);
            display: flex;
            overflow: hidden;
            overflow: auto;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        tag-label {
            display: flex;
            align-items: center;
            border: none;
            background: transparent;
            padding: 0 20px;
            font-size: var(--xsBody);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: var(--text-content);
            font-weight: 600;
            cursor: pointer;
            white-space: nowrap;

            &:hover {
                background: var(--ltaccent-40);
            }

            &.is-active {
                background: var(--ltaccent-55);
            }
        }
    }

    &--tabs {
        flex-grow: 1;
        display: flex;
        overflow: hidden;

        tag-tab {
            width: 100%;
            flex: 0 0 100%;
            height: 100%;
            left: 0;
            transition-duration: 0.5s;
        }
    }

    &--tab-inner {
        width: calc(100% - 30px);
        background: var(--bg-content);
        color: var(--text-content);
        margin: 15px;
        padding: 15px 7.5px 15px 15px;
        max-height: calc(100vh - (var(--menuSize) * 2) - 44px);

        @media only screen and (min-width: $xs) {
            width: calc(100% - 60px);
            margin: 30px;
            padding: 30px 15px 30px 30px;
            max-height: calc(100vh - (var(--menuSize) * 2) - 104px);
        }

        @media only screen and (min-width: $xxl) {
            width: 100%;
            margin: 30px auto;
            max-width: 1300px;
        }

        & > .scroll {
            max-height: calc(100vh - (var(--menuSize) * 2) - 104px);
            padding-right: 7.5px;

            @media only screen and (min-width: $xs) {
                max-height: calc(100vh - (var(--menuSize) * 2) - 164px);
                padding-right: 15px;
            }
        }

        &.no-scroll {
            padding: 0;
            max-height: calc(100vh - (var(--menuSize) * 2) - 44px);
        }

        & > .auto-height {
            height: calc(100vh - (var(--menuSize) * 2) - 104px);
        }
    }

    &--inner-tabs {
        tag-tabs {
            height: calc(100% - 44px);

            .webpage--tab-inner {
                margin: 0;
                max-height: calc(100vh - (var(--menuSize) * 2) - 148px);

                & > .scroll {
                    max-height: calc(100vh - (var(--menuSize) * 2) - 208px);
                }

                .webpage--labels {
                    border-top: 1px solid var(--border-main);
                }

                tag-tabs {
                    height: calc(100% - 88px);

                    .scroll {
                        max-height: calc(100vh - (var(--menuSize) * 2) - 252px);
                    }
                }
            }
        }
    }

    &--canon-collapse-all,
    &--canon-expand-all,
    &--canon-expansion {
        background: var(--bg-content);
        border: 1px solid var(--border-main);
        border-radius: 1px;
        font-size: var(--xsBody);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: 600;
        font-family: var(--font-body);
        padding: 2px 8px;
        line-height: 200%;

        i {
            color: var(--text-content);
        }
    }
    &--canon-expansion {
        display: block;
        margin: 5px 0 0;
        background: var(--bg-alt);

        .webpage--canon-expand {
            display: none;
        }

        &.closed-branch {
            .webpage--canon-collapse {
                display: none;
            }

            .webpage--canon-expand {
                display: initial;
            }
        }
    }

    tag-tab[data-tab="canons"] {
        a {
            text-transform: none;
            font-size: var(--mBody);
            background: var(--ltaccent-40);
            border-radius: 1px;
            padding: 5px 0;
            line-height: 200%;

            b {
                padding: 3px 8px;
                display: inline-block;
            }
        }
        b {
            s {
                opacity: 0.65;
            }
        }
    }

    .claim {
        border: 1px solid var(--border-main);
        padding: 15px;
        display: flex;
        flex-direction: column;
        font-size: var(--xsBody);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: 200%;
        font-weight: 600;

        & > a,
        & > b {
            font-size: var(--xlBody);
            text-transform: none;
            margin-bottom: 5px;
        }
    }
}
canonbranch {
    display: block;
    margin: 0 0 15px 15px;
    border-left: 1px solid var(--border-main);
    padding: 15px 0 15px 15px;

    &.closed-branch {
        height: 0;
        overflow: hidden;
        padding: 0;
        margin: 15px 0 0 15px;
    }

    &:not(.closed-branch) {
        border-bottom: 1px solid var(--border-main);
    }

    .webpage--canon-expansion::before {
        content: '';
        position: absolute;
        top: calc(50% - 0.5px);
        left: -16px;
        width: 15px;
        height: 1px;
        background: var(--border-main);
    }
}